.Sidebar {
  height: calc(100%-3rem);
  width: 25%;
  max-width: 25rem;
  background-color: var(--secondry-color);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  z-index: 9;
}

.company__logInOut {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  display: flex;
}

#company__info {
  display: flex;
  flex-direction: column;
}

#company__info h1 {
  color: var(--accent-color);
  text-shadow: -1px 1px var(--primary-color);
  margin: 0;
  padding: 0;
}

#company__info h2 {
  color: var(--text-color);
  margin: 0.5rem 0 0;
}

#company__info p {
  color: var(--text-faded);
  font-size: 1.25rem;
  margin: 0.5rem 0 0;
}

.MuiDivider-root {
  background-color: var(--highlight-color);
}

#company__authButton {
  width: fit-content;
  margin-left: auto;
  margin-right: 0;
  margin-top: auto;
  margin-bottom: 0;
  box-sizing: border-box;
}

.Sidebar .MuiButton-contained {
  background-color: var(--accent-color);
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Khand", sans-serif;
  text-shadow: -1px 1px var(--secondry-color);
}

.Sidebar .MuiButton-contained:hover {
  background-color: var(--accent-hover);
}

.company__navigation {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem;
  gap: 0.5rem;
  align-items: center;
}

.company__navigation p {
  color: var(--text-color);
  width: 100%;
  font-size: 1.15rem;
  margin: 0.5rem 0;
  font-style: italic;
  padding-left: 1rem;
}

.Sidebar .MuiButton-text {
  color: var(--text-faded);
  font-size: 1.25rem;
  width: 100%;
  height: 4rem;
  margin-bottom: 1rem;
  justify-content: left;
  padding-left: 2rem;
  text-transform: none;
  font-family: "Khand", sans-serif;
}

.Sidebar .MuiButton-text:hover {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  background-color: var(--primary-color);
}

.Sidebar .MuiButton-startIcon {
  scale: 1.75;
  margin-right: 2rem;
}
